<h3 style="padding: 0 10px;">Collaborations</h3>
<div class="collaboration-container">
    <div class="collaboration-logos">
        <div class="logo-item">
            <a href="https://partner1.com" target="_blank">
                <img src="/assets/images/logo1.png" alt="Partner 1">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner2.com" target="_blank">
                <img src="/assets/images/logo2.png" alt="Partner 2">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner3.com" target="_blank">
                <img src="/assets/images/logo3.png" alt="Partner 3">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner4.com" target="_blank">
                <img src="/assets/images/logo4.png" alt="Partner 4">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner5.com" target="_blank">
                <img src="/assets/images/logo5.png" alt="Partner 5">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner6.com" target="_blank">
                <img src="/assets/images/logo6.png" alt="Partner 6">
            </a>
        </div>

    <!--repeat-->
        <div class="logo-item">
            <a href="https://partner1.com" target="_blank">
                <img src="/assets/images/logo1.png" alt="Partner 1">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner2.com" target="_blank">
                <img src="/assets/images/logo2.png" alt="Partner 2">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner3.com" target="_blank">
                <img src="/assets/images/logo3.png" alt="Partner 3">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner4.com" target="_blank">
                <img src="/assets/images/logo4.png" alt="Partner 4">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner5.com" target="_blank">
                <img src="/assets/images/logo5.png" alt="Partner 5">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner6.com" target="_blank">
                <img src="/assets/images/logo6.png" alt="Partner 6">
            </a>
        </div>

    <!--repeat-->
        <div class="logo-item">
            <a href="https://partner1.com" target="_blank">
                <img src="/assets/images/logo1.png" alt="Partner 1">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner2.com" target="_blank">
                <img src="/assets/images/logo2.png" alt="Partner 2">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner3.com" target="_blank">
                <img src="/assets/images/logo3.png" alt="Partner 3">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner4.com" target="_blank">
                <img src="/assets/images/logo4.png" alt="Partner 4">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner5.com" target="_blank">
                <img src="/assets/images/logo5.png" alt="Partner 5">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://partner6.com" target="_blank">
                <img src="/assets/images/logo6.png" alt="Partner 6">
            </a>
        </div>
    </div>
</div>