<h3 style="padding: 0 15px;">Collaborations</h3>
<div class="collaboration-container">
    <div class="collaboration-logos">
        <div class="logo-item">
            <a href="https://www.samsung.com/" target="_blank">
                <img src="/assets/images/logo1.png" alt="Samsung">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.cjenm.com/" target="_blank">
                <img src="/assets/images/logo2.png" alt="CjENM">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.sbsant.co.kr/" target="_blank">
                <img src="/assets/images/logo3.png" alt="SBSAnT">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.msit.go.kr/eng/index.do" target="_blank">
                <img src="/assets/images/logo4.png" alt="MSIT">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.rapa.or.kr/en/main.do" target="_blank">
                <img src="/assets/images/logo5.png" alt="RAPA">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://about.meta.com/" target="_blank">
                <img src="/assets/images/logo6.png" alt="meta">
            </a>
        </div>

        <!--repeat-->
        <div class="logo-item">
            <a href="https://www.samsung.com/" target="_blank">
                <img src="/assets/images/logo1.png" alt="Samsung">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.cjenm.com/" target="_blank">
                <img src="/assets/images/logo2.png" alt="CjENM">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.sbsant.co.kr/" target="_blank">
                <img src="/assets/images/logo3.png" alt="SBSAnT">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.msit.go.kr/eng/index.do" target="_blank">
                <img src="/assets/images/logo4.png" alt="MSIT">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.rapa.or.kr/en/main.do" target="_blank">
                <img src="/assets/images/logo5.png" alt="RAPA">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://about.meta.com/" target="_blank">
                <img src="/assets/images/logo6.png" alt="meta">
            </a>
        </div>

        <!--repeat-->
        <div class="logo-item">
            <a href="https://www.samsung.com/" target="_blank">
                <img src="/assets/images/logo1.png" alt="Samsung">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.cjenm.com/" target="_blank">
                <img src="/assets/images/logo2.png" alt="CjENM">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.sbsant.co.kr/" target="_blank">
                <img src="/assets/images/logo3.png" alt="SBSAnT">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.msit.go.kr/eng/index.do" target="_blank">
                <img src="/assets/images/logo4.png" alt="MSIT">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.rapa.or.kr/en/main.do" target="_blank">
                <img src="/assets/images/logo5.png" alt="RAPA">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://about.meta.com/" target="_blank">
                <img src="/assets/images/logo6.png" alt="meta">
            </a>
        </div>

    </div>
</div>