<div class="container">
    <div class="row justify-content-start align-items-start p-4">
        <!-- 왼쪽 이미지 -->
        <div class="col-lg-6 col-md-12 text-center mt-4">
            <div id="container" class="my-2">
                <div id="dummy"></div>
                <div id="element">
                    <img src="{{% include elements/video.html id="8eC10pc5gGw" %}}" alt="{{ site.title }}" class="circle-image wow animated fadeIn" data-wow-delay=".1s">
                </div>
            </div>
        </div>

        <!-- 오른쪽 텍스트 -->
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center mt-4">
            <div class="wow animated fadeIn" data-wow-delay=".25s">
                <h3>
                    I am an interdisciplinary <a href="/blog" class="hover-underline">researcher</a> focused on advancing humanity through human-centered technology and design. My work lies at the intersection of art, technology, and society, striving to create a better, more livable world.
                </h3>
                <br>
                <div align="center">{% include social.html %}</div>
            </div>
        </div>
    </div>
</div>
