html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "DM Sans", sans-serif; // 기본 폰트 패밀리 설정
  font-size: 20px; // 기본 폰트 크기 설정
  line-height: 1.4; // 행간 설정 (글자 높이 대비 1.6배)
  letter-spacing: 0.5px; // 자간 설정 (글자 사이 간격)
}

.badge {
  font-weight: 300;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

/* 기본 링크 스타일 */
.hover-underline {
    position: relative;
    color: inherit; /* 기본 텍스트 색상 유지 */
    text-decoration: none; /* 기본 밑줄 제거 */
}

/* 마우스 오버 시 밑줄 애니메이션 */
.hover-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px; /* 텍스트 바로 아래에 밑줄 */
    left: 0;
    background-color: $primary; /* 기본 밑줄 색상 */
    transition: width 0.3s;
}

.hover-underline:hover::after {
    width: 100%;
}

/* 다크모드에서 밑줄 색상 변경 */
.dark-mode .hover-underline::after {
    background-color: white; /* 다크모드에서는 밑줄이 흰색으로 변경 */
}