html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "DM Sans", sans-serif; // 기본 폰트 패밀리 설정
  font-size: 20px; // 기본 폰트 크기 설정
  line-height: 1.4; // 행간 설정 (글자 높이 대비 1.6배)
  letter-spacing: 0.5px; // 자간 설정 (글자 사이 간격)
}

.badge {
  font-weight: 300;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

