.search-box {
  box-shadow: none !important;
}

.post.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  padding: 0; /* 기존 padding 제거 */
  height: 100%;
  overflow: hidden; /* 카드 내부 내용이 카드 경계를 넘지 않도록 설정 */

  /* 카드 내 이미지가 포함된 컨텐츠를 위해 추가 */
  display: flex;
  flex-direction: column;

  .card-body {
    padding: 15px; /* 카드 본문 패딩 설정 */
    flex-grow: 1; /* 본문이 남은 공간을 채우도록 설정 */
  }

  .card-footer {
    font-size: 14px;
    margin: 0;
    padding: 15px 35px;
  }
}


.post-card-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.post-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
