.search-box {
  box-shadow: none !important;
}

.post.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  height: 100%;
  overflow: hidden;

  /* 이미지가 있을 때의 스타일 */
  &.has-image {
    padding: 0;
  }

  /* 이미지가 없을 때의 스타일 (최초 스타일) */
  &.no-image {
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 기본 그림자 */
    background-color: $card-background-color; /* 카드 배경색 */
  }

  .card-body {
    padding: 15px; /* 카드 본문 패딩 설정 */
    flex-grow: 1; /* 본문이 남은 공간을 채우도록 설정 */
  }

  .card-footer {
    font-size: 14px;
    margin: 0;
    padding: 15px 35px;
  }
}



.post-card-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.post-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
