// Fine Circle Responsive Image
// Inspired by https://stackoverflow.com/a/6615994/10194811

#container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#dummy {
  padding-top: 100%; /* 1:1 aspect ratio */
}

#element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle-image {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Change this value to adjust the corner roundness */
  object-fit: cover;
  object-position: center;
}

/* 반응형 스타일: 작은 화면에 대응 */
@media (max-width: 768px) {
    .row {
        padding: 1rem; /* 좁은 화면에서 패딩 줄이기 */
    }

    .circle-image {
        margin-bottom: 1.5rem; /* 텍스트와 이미지 사이의 간격 조정 */
    }
}
