.nav-link,
.navbar-brand {
  position: relative; // 요소 배경색을 설정하기 위해 필요
  transition: background-color 0.35s ease, color 0.35s ease;

  &:hover {
    background-color: $primary; // 마우스오버 시 배경색 변경
    color: $text-light; // 마우스오버 시 글자 색상 변경 (배경색과 대비되는 색)
  }
}

.nav-item.active {
  font-weight: bold;
  background-color: $primary; // 활성화된 상태 배경색
  color: $text-light; // 활성화된 상태 글자 색상
}