.nav-link,
.navbar-brand {
  transition: background-color 0.35s;
  
  &:hover {
    background-color: $primary; // 하이라이트 색상
  }
}

.nav-item.active {
  font-weight: bold;
  background-color: $primary; // 활성화된 항목은 하이라이트 고정
}

.navbar-brand {
  margin-bottom: -14px;
}
