.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }

  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}





.collaboration-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.collaboration-logos {
  display: flex;
  align-items: center;
  animation: scroll-logos 17s linear infinite;
}

.logo-item {
  flex: 0 0 auto;
  padding: 0 10px;
}

.logo-item img {
  height: 50px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.logo-item img:hover {
  filter: grayscale(0%);
}


@keyframes scroll-logos {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}


.collaboration-logos:hover {
  animation-play-state: paused;
}
