<h2 class="mb-3">{{ include.title }}</h2>

<div class="row">
    {% for skill in include.source %}
    <div class="col-4 text-center">
        <div class="circular-chart">
            <svg viewBox="0 0 36 36" class="circular-svg">
                <path class="circle-bg"
                      d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
                      stroke="#eee" stroke-width="3.8" /> <!-- 여기 직접 적용 -->
                <path class="circle"
                      stroke-dasharray="{{ skill.percentage }}, 100"
                      d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
                      stroke="#3b82f6" stroke-width="2.8" stroke-linecap="round" /> <!-- 여기 직접 적용 -->
            </svg>
            <p class="mb-1">{{ skill.name }}</p>
            <p class="text-muted">{{ skill.percentage }}%</p>
        </div>
    </div>
    {% endfor %}
</div>
